
<!-- Employee Add Modal -->
<div class="modal fade" id="employeeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Новый сотрудник</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body offset-2 col-8">
                <row>
                    <form id="eMForm">
                        <p id="eMError" class="text-danger"></p>
                        <label for="eMLastName">Фамилия</label>
                        <input type="text" class="form-control" id="eMLastName" placeholder="Иванов" required>
                        <label for="eMFirstName">Имя</label>
                        <input type="text" class="form-control" id="eMFirstName" placeholder="Иван" required>
                        <label for="eMPosition">Должность</label>
                        <select class="form-control" id="eMPosition" required>
                            @foreach (var item in ViewBag.Positions)
                            {
                                <option id="@item.Key" value="@item.Value">@item.Value</option>
                            }
                        </select>
                        <label for="eMSalary">Оклад</label>
                        <input type="number" class="form-control" id="eMSalary" placeholder="1000.00" required>
                        <label for="eMDateHired">Нанят</label>
                        <input type="date" class="form-control" id="eMDateHired" required>
                        <label for="eMDateFired">Уволен</label>
                        <input type="date" class="form-control" id="eMDateFired">
                    </form>
                </row>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="employeeCancel">Отменить</button>
                <button type="button" class="btn btn-primary" id="employeeSave">Сохранить</button>
            </div>
        </div>
    </div>
</div>
