
@model IEnumerable<EmployeeCards.Models.DbModels.RegisterCard>
@{
    ViewBag.Title = "Employee Cards";
}


<div class="row">
    <div class="col-md-12">
        <h2>Employee Cards</h2>
        <div>
            <row class="button-panel">
                <button type="button" id="addEmployee" class="btn btn-primary"
                        data-toggle="modal" data-target="#employeeModal">
                    Добавить сотрудника
                </button>
                <button type="button" id="addPosition" class="btn btn-primary"
                        data-toggle="modal" data-target="#positionModal">
                    Добавить должность
                </button>
            </row>
        </div>
        <div>
            <table id="employee-table" class="table table-hover employee-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Должность</th>
                        <th>Сотрудник</th>
                        <th>Оклад</th>
                        <th>Дата назначения</th>
                        <th>Дата увольнения</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td name ="RegisterId"></td>
                        <td name ="Title"></td>
                        <td name ="Fio"></td>
                        <td name ="Salary"></td>
                        <td name ="DateHired"></td>
                        <td name ="DateFired"></td>
                    </tr>

                </tbody>
            </table>

        </div>

    </div>
</div>

@{Html.RenderPartial("EmployeeModal");}

@{Html.RenderPartial("PositionModal");}


@section Scripts
{
    <script src="@Url.Content("~/Scripts/sitescript.js")"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

}